
.weather-log
{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8E2DE2, #523EB8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(bg.jpg);
  background-size:cover;
  padding: 2rem;
 
  color: white;
  font-size: 1.5rem;
 
 
}
 
.weather-contents, .today-analytics 

{
 
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
 
  
}
.today-analytics 
{
  flex-direction: row;
  display: flex;
  background: rgba(245,246,250,.09);
   
  border-radius: 10px;
  padding: 10px 30px;
 

}
.weather-main-content
{
  display: inline-block;
  width: 45%;
}
.temp-feelslike-log
{
 
  display: flex; 
  align-items: center; 
 
  
}
 
 
 
.full-forecast 
{
  padding: 0.5rem;
  border-radius: 0.5rem;
   box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
  transition: all .3s ease-in-out;
}
.full-forecast:hover
{
   
  background-color: #fff;
  box-shadow: none;
  

}

.temp-log, .feelslike-log
{
  margin: 2rem;
 
 
}
.temp-log
{
font-size: 4rem;
}
.feelslike-log 
{
  font-size: 16px;
  margin-left: 0px;
  display: flex;
  columns: 2;
 }
.feelslike-log div 
{
  display: inline-block;

}

.stats 

{
border-bottom: 1px solid #cfcfcf ;
  
}
.vertical-bar
{
  padding-top: 6rem;
  width: 1px;
  opacity: .5;
  background-color: #fff;
  margin: 0 auto;
}
.analysis-graph 

{
  height: 22rem;
  width: 40rem;
  border-radius: 1rem;
  background-color: 'transparent';
 
}
.analysis-graph h3
{
  opacity: .5;
color: #fff;
font-size: 1.5rem;
letter-spacing: 3.4px;
text-transform: uppercase;
}

#city 
{
  font-weight: 700;
  
}
#weather 
{
  letter-spacing: 0.19rem;
  color: rgb(199, 199, 199);
}
.analysis-graph
{
  padding: 2rem;
 
}
.weather-logo
{
  width: auto;
  height: 5rem;
 
}
.feels-like-par
{
  font-weight: 700;
  min-width: 5rem;
}
.hidden 
{
  opacity: 0;
  transition:  all 1s;
  transform: translateX(-100%);
}
.show 
{
  opacity:  1;
  filter: blur(0);
  transform: translateX(0);
}
 
.all-div-containers 
{
  display: flex;
}
.analytics-contents 

{
  columns: 5;
  display: inline;
}
 
.ui-chart {
  position: relative;
 
}
.recharts-default-tooltip{
  pointer-events: none;
   position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
 }
 
 
@media only screen and (max-width: 1023px) { 
  .weather-log 
  {
    justify-content:center;
  }
 
 
 
}
@media (prefers-reduced-motion) {
  .hidden 
  {
    transition: none;
  }

}

@media only screen and (max-width: 1023px) 
{
  .all-div-containers
  {
    display: block;
  }
  .analysis-graph 
  {
    width: 99%;
  }
}