@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
 
 

.header {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding:   2rem 2rem 2rem 2rem;
  align-items: center; 
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  z-index: 100;
  width: 100%; 
  transition: padding 0.2s, display 1s;
 
}
 
 .contents 
 {
   margin-left: 1.3rem;
   margin-right: 5rem;
  }
  

 .fixednav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligns items to the left and right */
  z-index: 9999;
  width: 100%;
  height: 60px;
 
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
 
  
}

.links li a:not(:first-child) {
 visibility: inherit;
 
}

.logo {
  flex: 1;
  
 }
 .header-logo
 {
  width: 8rem;
 }
 

.links li {
  padding: 0 10px;
    gap: 1rem;
 
 
}

.links li:not(:last-child) a {
  text-decoration: none;
   color: rgb(39, 39, 39);
   padding-bottom:2px;
  background-image: linear-gradient(rgb(130, 200, 100) 0 0);
  background-position: 0 100%; 
  display: inline-block;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s;
}
.links li a:hover {
 
   background-position: 100% 100%;  
   background-size: 100% 2px;
 }
 .links li a 
 {
  transition: margin-top 1s;
 }
#button-header 
{
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgb(135, 228, 106);
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s;
  text-decoration: none ;
  display: block;
}
#button-header:hover
{
  background-color:  rgb(97, 145, 76)
}
ul 
{
  gap: 1rem;
}
#menu-button 
{
  display:none;
}
.header-logo:hover{
  cursor: pointer;
  
}
.spacer 
{
  width: 100%;
  height: 8rem;
}


@media only screen and (max-width: 1023px) {
 
 .header 
 {
  animation: padding 1s;
 }
  .header-logo
  {
    display: inline;
  }
  #menu-button
  {
  display: block;
   float: right;
   cursor:pointer;
   position: absolute;
   right: 1rem;
   top: 3rem;
 
  }
  
  .links
  {
    display: block;
    text-align: center;
  
  }
  
    .links a 
    {
    margin-top: 2rem;
 
    }
  .contents 
  {
    margin-left: 5rem;
    margin-right: 5rem;
  
 
  
 
}
  
 
  

  
}
@media only screen and (min-width: 1024px) 
{
   .header .contents .links li a
  {
     display: grid !important;
  }

}

 